/Lab3/nbproject/private/
/Lab3/build/
/Lab_4_Skeleton/nbproject/private/
/Lab4/nbproject/private/
/Lab4/build/
/Lab5/nbproject/private/
/Assignment4/nbproject/private/
/Assignment4/build/
/Lab6/nbproject/private/
/Lab5/build/
/Lab6/build/
/Lab_7/nbproject/private/
/Lab_7/build/
